.loader {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: #18181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouncing-logo {
    width: auto;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-60px);
    }
}